.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    
    background-color: #556967;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #eaccacba;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

form {
    color: #d4b89a;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-header {
    color: #d4b89a;
}