.elige {
  color: #556967;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
}

.producto-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 35px;
}

.product-card {
  border: 1px solid #556967;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

.product-image img {
  width: 100%;
}

.product-name {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.product-name:hover {
  color: #a19359;
}

.peso-producto {
  padding-top: 30px;
  color: #556967;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .producto-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
  }

  .product-image {
    height: 130px;
  }

  .product-name {
    font-size: 1.1rem;
  }

  .peso-producto {
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .producto-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .product-card {
    padding: 10px;
  }

  .product-image {
    height: 120px;
  }

  .product-name {
    font-size: 1rem;
  }

  .peso-producto {
    padding-top: 60px;
  }
}

@media (min-width: 800px) and (max-width: 1025px) {
  .producto-container {
    grid-template-columns: repeat(2, 1fr); /* Mostrar dos productos por fila */
    gap: 15px; /* Ajustar el espacio entre productos */
    padding: 15px; /* Reducir el padding para pantallas más pequeñas */
  }

  .product-card {
    padding: 12px; /* Reducir el padding del producto */
  }

  .product-image {
    height: 140px; /* Ajustar la altura de la imagen */
  }

  .product-name {
    font-size: 1.1rem; /* Ajustar el tamaño del texto del nombre del producto */
  }

  .peso-producto {
    padding-top: 50px; /* Ajustar el padding superior para el peso */
  }
}
