
.titulo {
    padding-top: 30px;
    color: #556967;
    text-align: center;
    font-family: 'DM Sans';
}

.edit-form {
    padding-top: 30px;
    color: #556967;
    text-align: center;
}

.imput {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    border-color: rgb(75, 46, 15);
}

.guardar {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #556967;
    color:  #eaccac;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 317px;
    margin-right: 317px;
}

.guardar:hover {
    background-color: rgba(75, 46, 15, 0.618);
}
